.bg-base {
  background-image: url('/static/images/bg-base.png');
  background-size: 30%;
}

.cover-home {
  background-image: url('/static/drawing/home-page-drawing.png');
  background-size: cover;
}

.bg-title {
  background-image: url('/static/others/title-beers.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-button {
  background-image: url('/static/others/button_border.png');
  background-size: contain;
  background-repeat: no-repeat;
}
