.react-datepicker {
  border: 2px solid @grey-dark !important;
}

.react-datepicker__day--selected {
  background-color: @pink-iench !important;
}

.react-datepicker__header {
  background-color: @grey-dark !important;
  border-radius: 0 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white !important;
  font-family: 'nicknameregular';
}

.calendarWrapper {
  .flex;
  .flex-col;
  .align-center;
  .nickname;
  .mt-10;
  .w-full;
}

.calendartitle {
  .inline-block;
  .text-align-center;
  .f3;
  .m-0;
  @media screen and (min-width: @breakpoint-md) {
    .m-0;
    .f2;
  }
}

.calendarSubtitle {
  .font-light;
  .text-align-center;
  .f4;
  .mt-0;
  .mb-10;
  padding: 0 1rem;
  @media screen and (min-width: @breakpoint-md) {
    .f3;
    .p-0;
  }
}
