.emptyBasket {
  .mt-10;
  .flex;
  .flex-col;
  .align-center;
}

.orderSteps {
  .flex;
  .flex-col;
  .align-center;
}

.stepsTitleWrapper {
  .flex;
  .flex-col;
  .align-center;
  justify-content: center;
  @media screen and (min-width: @breakpoint-md) {
    .flex-row;
  }
}

.stepsTitle {
  .mb-8;
  .mt-0;
  .f3;
  .nickname;
  .text-align-center;

  @media screen and (min-width: @breakpoint-md) {
    .f2;
    .my-8;
    text-align: left;
  }
}

// DONE ORDER

.doneOrderWapper {
  .nickname;
  .mx-auto;
  .mt-30;
  .text-align-center;
  .f4;

  width: 80%;

  span {
    color: @pink-iench;
  }

  @media screen and (min-width: @breakpoint-md) {
    .w-half;
  }
}

//BASKET COMPONENT

.basketWrapper {
  .fixed;
  .r-10;
  .t-15;
  .p-6;
  .br-40;
  .flex;
  .flex-col;
  .align-center;
  background-color: rgba(250, 250, 250, 0.75);

  @media screen and (max-width: @breakpoint-md) {
    position: fixed;
    bottom: 0;
    z-index: 3;
    top: auto;
    right: auto;
    width: 100%;
    .br-0;
    border-top: 2px solid @grey-dark;
    .p-4;
    background-color: rgba(250, 250, 250, 0.96);
    font-size: 1.5rem;
    img {
      max-width: 30px;
    }
  }

  .basketText {
    .w-44;
    .text-align-center;
    .nickname;
    .text-white;
    .bg-purple-dark;
    .br-8;
    .pl-1;
    .pr-1;
    .cursor-pointer;
    @media screen and (max-width: @breakpoint-md) {
      font-size: 1.3rem;
    }
  }
}
